<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/svg" href="img/logo.svg">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!--  ================ FONT AWESOME ================= -->
    <script src="https://kit.fontawesome.com/671c0ca6ff.js" crossorigin="anonymous"></script>
</head>

<body>


    </head>

    <body>
        <!-- NAVIGATION BAR -->
        <!-- ============================================================ -->
        <header>
            <div class="header-wrapper">
                <div class="header-img">
                    <img src="img/logo.svg" alt="background" id="logo">
                    <div class="nav-list-toggle" id="hamburger-toggle">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>

                <nav class="nav-section nav-display-none" id="nav">
                    <ul class="nav-list">

                        <li class="nav-list-item">
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="/quiz">
                                Care Assessment
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="/map">
                                Treatment Options
                            </a>
                        </li>
                        <li class="nav-list-item">
                            <a href="/contact">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </header>
        <!-- CONTACT SECTION -->
        <!-- ============================================================ -->
        <section class="hero-image">
            <h1>Contact</h1>
        </section>

        <!-- CONTACT FORM -->
        <!-- ============================================================ -->
        <section class="container">

            <aside>
                <div class="box">
        
                    <p> To start a consultation with a tranquil specialist or if you have any additional questions or concerns regarding tranquil services please submit the form below.
                    </p>

                    </p>
                </div>


            </aside>
            <section class="column">
                <form>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="First Name" required>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Last Name" required>
                    <label for="Phone#">Phone Number</label>
                    <input type="text" id="Phone#" name="Phone#" placeholder="Phone Number" required>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Valid Email Address" required>
                    <label for="country">Languages</label>
                            <select id="Languages" name="lanagugues">
                                <option value="usa">English</option>
                                <option value="Spanish">Spanish/Español, </option>
                                <option value=" French">French/ Le français </option>
                                <option value="Arabic">Arabic/اللغة العربية </option>
                                <option value="Hangul">Korean/한국어 </option>
                                <option value="Protugese">Protugese/Português</option>
                                <option value="Russian">Russian/русский язык,</option>
                                <option value="Mandarin"> Chinese Mandarin</option>
                                <option value="Bengali">Bengali/বাংলা</option>
                                <option value="Japanese">Japanese/日本語</option>
                                <option value="Hindi">Hindi/हिन्दी भाषा</option>
                            </select>
                            <label for="subject">Comments</label>
                            <textarea id="subject" name="subject"
                                placeholder="Questions?? Comments? Concerns? "
                                style="height:170px" required></textarea>
                            
                             
                </form>

                <a id="submit" class="contactButton submitButton" onclick="openForm()"> Submit </a>
      <span class="thankYou"></span>
      <div class="form-popup" id="myForm">
          <section class="formContainer">
              <h3>Thank You</h3>
              <p>A customer care specialist will be in contact with you with the next 24-48 hours to elaborate more on the services offer.</p>
              <a href="/" onclick="closeForm()"><img src="img/logo.svg" style = "width: 25%;" alt="imgLogo"></a>
          </section>
            </section>

        </section>

        <!-- FOOTER -->
        <!-- ============================================================ -->
        <footer>
            <div class="footer-wrapper">
                <div class="footer-top">
                    <div class="header-img">
                      <img class="footer-img" src="img/logo.svg" alt="logo" style="width:20%;">
                    </div>
                </div>
    
                <div class="footer-bottom">
                    <ul class="footer-list">
                        <li class="footer-list-item">
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li class="footer-list-item">
                            <a href="/quiz">
                                Care Assessment
                            </a>
                        </li>
                        <li class="footer-list-item">
                            <a href="/map">
                               Treatment Options
                            </a>
                        </li>
                        <li class="footer-list-item">
                            <a href="/contact">
                                Contact
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-list">
                        <li class="footer-list-item">
                            <a href="#">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li class="footer-list-item">
                            <a href="/quiz">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="footer-list-item">
                            <a href="/map">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li class="footer-list-item">
                            <a href="/contact">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="js/contact.js"> </script>
    </body>

</html>