<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap" rel="stylesheet">

</head>

<body>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>

            </label>

            <header>
                <nav>
                    <ul class="nav-list">
                        <li class="nav-item">
                            <img src="/img/logo.png" alt="logo" width="400px" height="72px">
                        </li>
                        <li class="nav-item">
                            <a href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/quiz">Quiz</a>
                        </li>
                        <li class="nav-item">
                            <a href="/map">Maps</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </header>

        </nav>
        <section class="hero-image">
            <h1>Contact Us</h1>
        </section>
        <section class="container">

            <aside>
                <div class="box">
                    <h2> Reach out to us </h2>
                    <p> Please ask if You need help or have a question. Dont be afriad to contact us we are avalaible in
                        various lanagugues.
                        Your Mental Health is important for us and we are here for you! Reaching out and being open about your struggles increases your chance of getting the proper direction and help you require. 
                        Every person who seeks care also contributes to a decrease in the stigma around mental health.</p>
                      
                    </p>
                </div>
                <h2>Social Plaforms </h2>
                <section class="socials">
                    <a class="smLogo" target="_blank" href="http://instagram.com/roadtohire"><img
                            src="img/instagram.png" alt="instagram logo"></a>
                    <a class="smLogo" target="_blank" href="http://twitter.com/roadtohire"><img
                            src="img/twitter (1).png" alt="twitter logo"></a>
                    <a class="smLogo" target="_blank" href="http://facebook.com/roadtohire"><img src="img/facebook.png"
                            alt="facebook logo"></a>
                    <p>© Copyright 2022 |Tranquil|Road to Hire</p>

                </section>


            </aside>
            <section class="column">
                <form action="/action_page.php">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    <label for="lname">Last Name</label>
               <input type="text" id="lname" name="lastname" placeholder="Your last name..">
               <label for="Phone#">Phone Number</label>
                        <input type="text" id="Phone#" name="Phone#" placeholder="(704)-098-1166..">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="a076d05399@gmail.com..">
                        <label for="country">Languages<label>
                        <select id="Languages" name="lanagugues">
                                <option value="usa">English</option>
                                <option value="Spanish">Spanish/Español, </option>
                                <option value=" French">French/ Le français </option>
                                <option value="Arabic">Arabic/اللغة العربية </option>
                                <option value="Hangul">Korean/한국어 </option>
                                <option value="Protugese">Protugese/Português</option>
                                <option value="Russian">Russian/русский язык,</option>
                                <option value="Mandarin"> Chinese Mandarin</option>
                                <option value="Bengali">Bengali/বাংলা</option>
                                <option value="Japanese">Japanese/日本語</option>
                                <option value="Hindi">Hindi/हिन्दी भाषा</option>
                            </select>
                            <label for="subject">Comments</label>
                            <textarea id="subject" name="subject"
                                placeholder="Questions??? Comments?? Write down here..."
                                style="height:170px"></textarea>
                            <input type="submit" value="Send a message">
                </form>
            </section>

        </section>
        <footer>
            <nav-footer>
                <ul class="nav-footer-list">
                    <li class="nav-footer-item">
                        <img src="/img/logo.png" alt="logo" width="100px" height="20px">
                    </li>
                    <li class="nav-footer-item">
                        <a href="">Home</a>
                    </li>
                    <li class="nav-footer-item">
                        <a href="/quiz">Quiz</a>
                    </li>
                    <li class="nav-footer-item">
                        <a href="/map">Maps</a>
                    </li>
                    <li class="nav-footer-item">
                        <a href="contact">Contact Us</a>
                    </li>
                </ul>
            </nav-footer>
        </header>
        </footer>

        <script src="js/contact.js"> </script>
    </body>

</html>