<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <header>
        <nav>
            <ul class="nav-list">
                <li class="nav-item">
                    <img src="/img/logo.png" alt="logo" width="400px" height="72px">
                </li>
                <li class="nav-item">
                    <a href="">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/quiz">Quiz</a>
                </li>
                <li class="nav-item">
                    <a href="/map">Maps</a>
                </li>
                <li class="nav-item">
                    <a href="contact">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Hero Img with text inside -->
    <div class="hero-image">
        <div class="hero-text">
          <h1>Experience one of the best places that caters for your mental health</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias 
              accusamus tempore dolor sit amet consectetur adipisicing elit. Molestias 
              accusamus tempore</p>
              <button>Get Started</button>
        </div>
      </div>
    
    <!-- <img src="img/home-hero-bg.webp" alt="background" width="100%" height="100%"> -->
      <div class="About">
          <div>
            <img src="img/home-person.webp" width="327.5" height="394.78">
            <h3>View our map to find the nearest therapist!</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima ex nulla ullam
                minus tempora, ipsam esse, ad nostrum aperiam quos cum error. Rem minus numquam
                nemo autem aperiam, corporis temporibus.</p>
            <button>View Maps</button>
        </div>
      </div>


    
    <script src="js/index.js"> </script>
</body>
</html>