@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --line-border-fill: #7186ea;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =============================================================== */
/* Preloader */
/* =============================================================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: #eceff6;
  display: grid;
  place-content: center;
}

.display-none {
  display: none;
}

.preloader--disappear {
  animation: fadeout 1s forwards;

}

@keyframes fadeout {
  100% {
    opacity: 0;
    visibility: none;
  }
}

/* =============================================================== */
/* NAVBAR */
/* =============================================================== */
header {
  padding: 0 2rem;
}

.header-wrapper {
  display: flex;
  max-width: 1230px;

  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.header-img,
nav {
  width: 50%;
}

.header-img img {
  width: 90px;
  object-fit: cover;
}

.nav-list {
  display: flex;
  gap: 2rem;

  align-items: baseline;
  justify-content: right;
}

.nav-list-item a {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-list-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #7186ea;
}

.fa-bars {
  font-size: 24px;
}

.nav-list-toggle {
  display: none;
}

@media (max-width: 78em)  {
  .nav-list-toggle {
    display: inline-block;
    cursor: pointer;
    text-align: right;
  }

  .nav-display-none {
    display: none;
  }
  .header-wrapper {
    flex-direction: column;
  }

  .header-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-img img {
    display: inline-block;
  }

  nav {
    width: 100%;
    /* display: none; */
  }

  .nav-list {
    margin-top: 1.5rem;
    padding: 3rem 0;
    justify-content: center;
    background-color: #3a3b7b;
    color: #ffffff;
    border-radius: 10px;
  }

  .nav-list-item {
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: baseline;
    justify-content: right;
  }
}

/* =============================================================== */
/* FOOTER */
/* =============================================================== */
footer {
  /* position: fixed;
  bottom: 0; */
  padding: 0 1rem 4rem 1rem;
  width: 100%;
}

.footer-wrapper {
  max-width: 1230px;

  padding: 1rem 0;
  margin: 0 auto;
}

.footer-bottom {
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 2rem;
  width: 50%;
  align-items: baseline;
}

.footer-list:nth-child(2) {
  display: flex;
  gap: 1rem;
  width: 50%;
  justify-content: right;
}

.footer-list-item a {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.fa-brands {
  font-size: 24px;
}

.footer-list-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #7186ea;
}

@media (max-width: 800px) {
  .footer-bottom {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list {
    margin-top: 2rem;
    width: 100%;
    flex-direction: column;
  }

  .footer-list:nth-child(2) {
    width: 100%;
    flex-direction: row;
    justify-content: left;
  }
}

/* =============================================================== */
/* MAIN */
/* =============================================================== */
main {
  display: grid;
  place-content: center;
  padding: 0 1rem;
}

.results-wrapper {
  max-width: 1230px;
  padding: 8vh 5vw;
  margin: 4rem 0;
  background-color: #eceff6;
  border-radius: 40px;
}

/* e56f8c */

.results-name {
  font-size: clamp(1.75rem, calc(-0.75rem + 6.67vw), 3rem);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.results-description {
  font-size: 1.4rem;
  font-weight: 500;
}

.ctas {
  max-width: 1230px;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.cta {
  background-image: url("../img/major-life.png");
  width: 48%;
  flex: 0 0 48%;
  padding: 8vh 5vw;
  border-radius: 40px;
}

#cta--first {
  background-image: url("../img/anxiety.png");
}

.cta__title {
  font-size: 1.9rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 2rem;
}

.cta__text {
  font-size: 1rem;
  font-weight: 500;
}

.cta__button {
  display: inline-block;
  background-color: #e56f8c;
  color: #ffffff;
  padding: 1.2rem 1.8rem;
  margin: 2rem 0 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
}

.cta__button:hover {
  background-color: #f7f7f7;
  color: #e56f8c;
  transition: 0.2s ease-in;
}

@media (max-width: 950px) {
  .ctas {
    margin-bottom: 5rem;
    flex-flow: column wrap;
    gap: 3rem;
  }

  .cta {
    width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 450px) {
  .results-description {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .cta__title {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
