@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --line-border-fill: #7186ea;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
body,
html {
  background-color: #ffffff;
  height: 100%;
  font-family: "Poppins";
}
body {
  overflow-x: hidden;
}

/* =============================================================== */
/* NAVBAR */
/* =============================================================== */
header {
  padding: 0 1rem;
}

.header-wrapper {
  display: flex;
  max-width: 1230px;

  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.header-img,
nav {
  width: 50%;
}

.header-img img {
  width: 100px;
  object-fit: cover;
}

.nav-list {
  display: flex;
  gap: 2rem;

  align-items: baseline;
  justify-content: right;
}

.nav-list-item a {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-list-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #7186ea;
}

.fa-bars {
  font-size: 24px;
}

.nav-list-toggle {
  display: none;
}

@media (max-width: 78em) {
  .nav-list-toggle {
    display: inline-block;
    cursor: pointer;
    text-align: right;
  }

  .nav-display-none {
    display: none;
  }
  .header-wrapper {
    flex-direction: column;
  }

  .header-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-img img {
    display: inline-block;
  }

  nav {
    width: 100%;
    /* display: none; */
  }

  .nav-list {
    margin-top: 1.5rem;
    padding: 3rem 0;
    justify-content: center;
    background-color: #3a3b7b;
    color: #ffffff;
    border-radius: 10px;
  }

  .nav-list-item {
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: baseline;
    justify-content: right;
  }
}

/* =============================================================== */
/* FOOTER */
/* =============================================================== */
footer {
  /* position: fixed;
    bottom: 0; */
  padding: 0 1rem 4rem 1rem;
  width: 100%;
}

.footer-wrapper {
  max-width: 1350px;

  padding: 1rem 0;
  margin: 0 auto;
}

.footer-bottom {
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 2rem;
  width: 50%;
  align-items: baseline;
}

.footer-list:nth-child(2) {
  display: flex;
  gap: 1rem;
  width: 50%;
  justify-content: right;
}

.footer-list-item a {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.fa-brands {
  font-size: 24px;
}

.footer-list-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #7186ea;
}

@media (max-width: 800px) {
  .footer-bottom {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list {
    margin-top: 2rem;
    width: 100%;
    flex-direction: column;
  }

  .footer-list:nth-child(2) {
    width: 100%;
    flex-direction: row;
    justify-content: left;
  }
}

/* ============================================================= */
/* HERO SECTION */
/* ============================================================= */
.hero-image {
  background-image: url(/img/home-hero-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  place-content: center;
  padding: 14rem 1.4rem;
  text-align: center;
}

.hero-text {
  max-width: 1250px;
  margin: 0 auto;
}

.hero-text > h1 {
  font-size: clamp(2rem, calc(0.11rem + 5.03vw), 4.2rem);
  line-height: 1.1;
  color: #3a3b7b;
}

.hero-text > p {
  margin: 3rem auto;

  font-size: clamp(1rem, calc(0.79rem + 0.57vw), 1.25rem);
  font-weight: 500;
  color: #353535;
}

.button {
  display: inline-block;
  width: 260px;
  padding: 18px 0;
  background: #3a3b7b;
  border: 1px solid #3a3b7b;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
}

.button:hover {
  display: inline-block;
  background: #e56f8c;
  border: 1px solid #e56f8c;
  transition: 0.2s ease-in-out;
}

@media (max-width: 850px) {
  .hero-image {
    background-position: top center;

    padding: 10rem 1rem 3rem 1rem;
    text-align: left;
  }
}

/* ============================================================= */
/* ABOUT SECTION */
/* ============================================================= */
.about {
  width: 100%;
  padding: 5rem 2rem;
}

.about-container {
  max-width: 1350px;
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.about-container--reverse {
  justify-content: space-between;
  flex-flow: row-reverse nowrap;
}

#about--custom-img {
  width: 392px;
}

.about-text {
  width: 60%;
}

.about-text h3 {
  font-size: clamp(1.75rem, calc(0.68rem + 2.86vw), 2.5rem);
  font-weight: 600;
  line-height: 1.1;
}

.about-text p {
  font-size: clamp(1rem, calc(0.79rem + 0.57vw), 1.25rem);
  font-weight: 500;
}

.about-text p {
  margin: 2rem 0;
}

@media (max-width: 890px) {
  .about-container {
    justify-content: center;
  }

  .about-container--reverse {
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .about-container img {
    width: 100%;
    height: max-content;
    text-align: center;
    object-fit: cover;
    margin-bottom: 5rem;
  }

  #about--custom-img {
    width: 100%;
    text-align: center;
    object-fit: cover;
    margin-bottom: 5rem;
  }

  .about-text {
    width: 100%;
  }
}

/* ============================================================= */
/* CTA SECTION */
/* ============================================================= */
.cta {
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 5rem;
}

.cta-container {
  max-width: 1350px;
  background: linear-gradient(180deg, #65c1dd 0%, #7382eb 100%);
  border-radius: 20px;
  margin: 0 auto;
  padding: 8rem 0;
}

.cta h1 {
  font-size: clamp(1.75rem, calc(0.68rem + 2.86vw), 2.5rem);
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 auto 3rem auto;
  width: 90%;
}

.cta p {
  font-size: clamp(1.1rem, calc(0.79rem + 0.57vw), 1.25rem);
  font-weight: 500;
  color: #eeeeee;
  line-height: 1.2;
  margin: 0 auto 3rem auto;
  width: 80%;
}

.button--light {
  background-color: #ffffff;
  border-color: #ffffff;
  font-weight: 600;
  color: #353535;
}

.button--light:hover {
  border-color: #3a3b7b;
  background-color: #3a3b7b;
  color: #ffffff;
}

@media (max-width: 700px) {
  .cta {
    width: 100%;
    text-align: left;
    padding: 0;
  }

  .cta-container {
    padding: 8rem 0 8rem 2rem;
    border-radius: 0px;
  }

  .cta h1, .cta p {
    width: 100%;
  }

}
